{% extends "base.html" %} {% block title %}Productos{% endblock %} 
{% block content %}
<h2>Todos los productos</h2>
<div class="product-grid">
  {% for product in products %}

  <div class="card product-card" style="width: 18rem">
    <img
      src="{{ product.image_url }}"
      alt="{{ product.name }}"
      class="card-img-top"
    />
    <div class="card-body">
      <h5 class="card-title" style="max-height: 48px; overflow: clip; text-overflow: clip;">{{ product.name }}</h5>
      <p class="fw-bold mb-3">${{ product.price }}</p>
      <p class="card-text" style="max-height: 70px; overflow: clip; text-overflow: clip;">
        {{ product.description }}
      </p>
      <a href="{% url 'product_detail' product.id %}" class="btn btn-primary"
        >Detalle</a
      >
    </div>
  </div>

  {% empty %}
  <p>No hay productos disponibles.</p>
  {% endfor %}
</div>
{% endblock %}
